.topmenu-wrapper
    .container
        .topmenu
            .topmenu-left
                a(href="#").topmenu__item Top Sales
                a(href="#").topmenu__item Brand Focus
                a(href="#").topmenu__item.topmenu__item--active Hi-Tech
                a(href="#").topmenu__item Projects
                a(href="#").topmenu__item Best Sellers
            .topmenu-right
                .topmenu__support Support
                .topmenu__search
                    .search__icon
                    input(type="text" placeholder="I'm looking for...").search__input