mixin product-card-large(name, title, color, price, specs)
  .product-card-large
    .product-card-large__img(style="background-image: url('../img/products/" + name + "')")
      .product-card-large__price= price
    .product-card-large-content
      div
        .product-card-large__title= title
        .product-card-large__color= color
      .btn-group
        .button= specs
        .button New One
        .button Buy Now