extends ../layouts/layout.pug

block variables
  -var title = 'Main'

block content
  include ../sections/header.pug
  include ../sections/topmenu.pug

  .container
    .row
      .col-md-3
        +product-card("apple-tv.jpg", "Apple TV 32Gb", "Black", "$49.99")
      .col-md-3
        +product-card("watch.jpg", "Pebble Time", "Red", "$29.99")
      .col-md-3
        +product-card("zendure.jpg", "Zendure 4-Port USB", "Black", "$39.99")
      .col-md-3
        +product-card("analyzer.jpg", "Withings Smart Body Analyzer ws-50", "Black", "$39.99")
      .col-md-3
        +product-card("ollo.jpg", "Ollo Clip New", "Silver", "$19.99")
      .col-md-3
        +product-card("tracker.jpg", "Fitbit Charge HR Heart Rate and Activity Tracker", "Black", "$19.99")
      .col-md-6
        +product-card-large('jbl-bg.jpg', 'JBL Charge 2+', 'Black', '$39.95', '16 GB')